{% extends "base.jinja" %} {% block title %}{{ title }}{% endblock %} {% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Clippy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/send">Send File(s)</a>
            </li>
        </ul>
    </div>
</nav>
<section class="container mt-3">
    <h3>System Info:</h3>
    <p>IP: {{ip}}</p>
    <p> Websockets Port: <input id="websocket-port" type="number" value="{{ports[0]}}" disabled></p>
    <p>Flask Port: <input id="flask-port" type="number" value="{{ports[1]}}" disabled></p>
    <a class="btn btn-primary" id="edit-ports">Edit system info</a>
    <div id="editing-port" class="flex-d d-none">
        <a id="cancel" class="btn btn-primary">Cancel</a>
        <a id="save" class="btn btn-primary">Save</a>
    </div>
    <p></p>
    <h3 style="position: absolute;">QR Code:</h3>
    <img class="m-0" src="http://localhost:{{ports[1]}}/static/qrcode.jpg" />
    <script src="/static/js/jquery.min.js" "></script>
    <script src="/static/js/main.js " "></script>

</section>
{% endblock %}